<div [ngClass]="{online: isOnline}" class="wrapper">
    <div class="body">
        <div class="picture">
            <img src={{url}} alt="">
            <span *ngIf="!isOnline" class="offlineStatus">Offline</span>
            <span *ngIf="isOnline" class="onlineStatus">Online</span>
        </div>
        <div class="user-data">
            <h2>{{name}}</h2>
            <div class="post-text">{{status}}</div>
        </div>
    </div>
    <button (click)="isOnline = !isOnline" class="network">{{isOnline ? "Offline" : "Online"}}</button>
</div>

